TFPipeline/.terraform/*
TFPipeline/.terraform.lock.hcl
TFPipeline/terraform.tfstate
TFPipeline/terraform.tfstate.backup
.DS_Store
ecs_service/terraform.tfstate
ecs_service/terraform.tfstate.backup
ecs_service/.terraform/*
ecs_service/.terraform.lock.hcl
ecs_service/.terraform.tfstate.lock.info
